@using CarRentalApp.Models.Identity;
@using Microsoft.AspNetCore.Identity;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userName = User.Identity.Name;
    var userManager = Context.RequestServices.GetService<UserManager<AppUser>>();
    var user = await userManager.FindByNameAsync(userName);
                       
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4>User Profile</h4>
                    <div class="d-flex my-2 justify-content-end">
                        <a asp-action="ProfileUpdate" class="btn login-btn float-end" asp-route-id="@user.Id">Edit</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="inputFirstName" class="col-sm-4 col-form-label">First Name:</label>
                        <div class="col-sm-8">
                            <p class="form-control-plaintext" id="inputFirstName">@user.FirstName</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputLastName" class="col-sm-4 col-form-label">Last Name:</label>
                        <div class="col-sm-8">
                            <p class="form-control-plaintext" id="inputLastName">@user.LastName</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-4 col-form-label">Email:</label>
                        <div class="col-sm-8">
                            <p class="form-control-plaintext" id="inputEmail">@user.Email</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputUsername" class="col-sm-4 col-form-label">Username:</label>
                        <div class="col-sm-8">
                            <p class="form-control-plaintext" id="inputUsername">@user.UserName</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPhoneNumber" class="col-sm-4 col-form-label">Phone Number:</label>
                        <div class="col-sm-8">
                            <p class="form-control-plaintext" id="inputPhoneNumber">@user.PhoneNumber</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputDrivingLicense" class="col-sm-4 col-form-label">Driving License:</label>
                        <div class="col-sm-8">
                            <p class="form-control-plaintext" id="inputDrivingLicense">@user.DrivingLicenseURL</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputCitizenship" class="col-sm-4 col-form-label">Citizenship:</label>
                        <div class="col-sm-8">
                            <p class="form-control-plaintext" id="inputCitizenship">@user.CitizenshipURL</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
