@model List<CarRentalApp.Models.Offer>

@{
    ViewData["Title"] = "Offers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .btn-primary {
        background-color: #0984e3;
        border-color: #0984e3;
    }

    .btn-primary:hover {
        background-color: #74b9ff;
        border-color: #74b9ff;
    }

    .alert-danger {
        background-color: #e74c3c;
        color: #fff;
    }

    th, td {
        font-size: 1.1rem;
        vertical-align: middle;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .bi-trash {
        font-size: 1.2rem;
    }

</style>

<h1 class="my-3 text-center text-white" style="background-color: teal; padding: 1rem;">Offers</h1>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @Html.Raw(ViewBag.Error)
    </div>
}


    <main class="table">     
        <div class="table__body">
            <div class="d-flex justify-content-end mb-3">
                <a class="btn login-btn" asp-action="Create" style="background-color: #00cec9; border-color: #00cec9;">Make New Offer</a>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Car</th>
                        <th>Discount Rate</th>
                        <th>Description</th>
                        <th>End Date</th>
                        <th>Is Valid</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@($"{item.Car.Manufacturer} {item.Car.Model} {item.Car.Color}")</td>
                            <td>@item.DiscountRate</td>
                            <td>@item.OfferDescription</td>
                            <td>@item.OfferEndDate.ToString("MM/dd/yyyy")</td>
                            <td>@(item.IsValid == true ? "Yes" : (item.IsValid == false ? "No" : "-"))</td>
                            <td>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.OfferID">
                                    <i class="fas fa-trash"></i>

                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>