@model List<CarRentalApp.Models.RentalRequest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Rental Requests</h1>
<main class="table">
    @if (ViewData["UserType"]?.ToString() == "Customer")
    {
        <div class="table__body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Request ID</th>
                        <th>Car</th>
                        <th>Request Date</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rentalRequest in Model)
                    {
                        <tr>
                            <td>@rentalRequest.ReqID</td>
                            <td>@rentalRequest.Car.Manufacturer @rentalRequest.Car.Model</td>
                            <td>@rentalRequest.RequestDate</td>
                            <td>@rentalRequest.Status</td>
                            <td>
                                @if (rentalRequest.Status == RentalRequestStatus.Approved)
                                {
                                    <a href="@Url.Action("Create", "Damage", new { carId = rentalRequest.CarID, reqId = rentalRequest.ReqID, userId = rentalRequest.UserID })" class="btn btn-primary">Report Damage</a>
                                }
                                @if (rentalRequest.Status != RentalRequestStatus.Canceled)
                                {
                                    <a href="@Url.Action("Cancel", "RentalRequest", new { id = rentalRequest.ReqID })" class="btn btn-primary">Cancel Request</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else if (ViewData["UserType"]?.ToString() == "Admin" || ViewData["UserType"]?.ToString() == "Staff")
    {
        <div class="table__body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Request ID</th>
                        <th>Car</th>
                        <th>User</th>
                        <th>Request Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rentalRequest in Model)
                    {
                        <tr>
                            <td>@rentalRequest.ReqID</td>
                            <td>@rentalRequest.Car.Manufacturer @rentalRequest.Car.Model</td>
                            <td>@rentalRequest.User.FirstName @rentalRequest.User.LastName</td>
                            <td>@rentalRequest.RequestDate</td>
                            <td>@rentalRequest.Status</td>
                            <td>
                                @if (rentalRequest.Status == RentalRequestStatus.Pending && rentalRequest.Status != RentalRequestStatus.Canceled)
                                {
                                    <a href="@Url.Action("Approve", "RentalRequest", new { id = rentalRequest.ReqID })" class="btn btn-success">Approve</a>
                                    <a href="@Url.Action("Reject", "RentalRequest", new { id = rentalRequest.ReqID })" class="btn btn-danger">Reject</a>
                                }
                                @if (rentalRequest.Status == RentalRequestStatus.Approved)
                                {
                                    <a href="@Url.Action("Return", "RentalHistory", new { id = rentalRequest.ReqID })" class="btn btn-primary">Record Payment</a>


                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</main>
