@model IEnumerable<CarRentalApp.Models.Car>
@using CarRentalApp.Models.Identity;
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Car Page";
    var existingRequests = ViewBag.ExistingRequests as List<CarRentalApp.Models.RentalRequest>;
    var userName = User.Identity.Name;
    var userManager = Context.RequestServices.GetService<UserManager<AppUser>>();
    var user = await userManager.FindByNameAsync(userName);
    var hasCitizenshipAndLicense = !String.IsNullOrEmpty(user.CitizenshipURL) || !String.IsNullOrEmpty(user.DrivingLicenseURL);
}

<h1 class="my-3 text-center text-white" style="background-color: teal; padding: 1rem;">@ViewBag.Heading</h1>
@if (hasCitizenshipAndLicense == false && User.IsInRole("Customer"))
{
    <div class="alert alert-danger" role="alert">
        You must have citizenship and a driver's license on your profile to rent a car. Please update your profile to continue.
    </div>
}
@if (User.IsInRole("Admin") || User.IsInRole("Staff"))
{
    <div class="d-flex my-2 justify-content-end">
        <a asp-action="Create" class="btn login-btn float-end">Add New Car</a>
    </div>

}

<div class="row my-5 row-cols-4 g-4">
    @foreach (var car in Model)
    {
        <div class="col mb-2">
            <div class="card h-100" style="width: 18rem;">
                <img src="@car.CarImageURL" class="card-img-top h-100" alt="Car Image">
                <div class="card-body">
                    <h5 class="card-title"><b>Car ID: </b>@car.CarID</h5>
                    <p class="card-text"><b>Manufacturer: </b>@car.Manufacturer</p>
                    <p class="card-text"><b>Model: </b>@car.Model</p>
                    <p class="card-text"><b>Color: </b>@car.Color</p>
                    <p class="card-text"><b>Rental Price: </b>@car.RentalRate</p>
                    <p class="card-text"><b>VehicleNo: </b>@car.VehicleNo</p>
                    <p class="card-text"><b>Availability: </b>@car.IsAvailable</p>
                    @if (User.IsInRole("Customer") && car.IsAvailable == true)
                    {
                        var existingRequestForCurrentCar = existingRequests.FirstOrDefault(r => r.CarID == car.CarID && r.Status == RentalRequestStatus.Pending);

                        // If there is an existing rental request, display a message to the user
                        if (existingRequestForCurrentCar != null)
                        {
                            <p class="card-text text-danger">You have already made a rental request for this car which is pending for approval.</p>
                        }
                        else if (hasCitizenshipAndLicense == true)
                        {
                            // If there is no existing rental request, display the "Book Now" button
                            <a href="@Url.Action("Create", "RentalRequest", new { carId = car.CarID })" class="btn login-btn">Book Now</a>
                        }
                    }
                    else if (!User.IsInRole("Customer"))
                    {
                        <a class="btn login-btn" asp-action="Edit" asp-route-id="@car.CarID">
                            Edit
                        </a>
                    }
                </div>
            </div>
        </div>
    }
</div>