
@{
    ViewData["Title"] = "Cars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Car>
<h1>Cars</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Rental Rate</th>
            <th>Is Available</th>
            <th>Actions</th>  
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentalRate)
                </td>
                <td>
                    @if (item.IsAvailable)
                    {
                        <span class="text-success">Available</span>
                    }
                    else
                    {
                        <span class="text-danger">Not Available</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CarID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CarID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CarID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
