@{
    ViewData["Title"] = "Car Page";
}

@model IEnumerable<CarRentalApp.Models.Car>

<div class="d-flex my-2 justify-content-end">
    <a asp-action="Create" class="btn btn-primary float-end">Add New Car</a>
</div>


<div class="row my-3 row-cols-4 g-4">
    @foreach (var car in Model)
    {
        <div class="col">
            <div class="card h-100" style="width: 18rem;">
                <img src="@car.CarImageURL" class="card-img-top h-100" alt="Car Image">
                <div class="card-body">
                    <h5 class="card-title"><b>Manufacturer: </b>@car.Manufacturer</h5>
                    <p class="card-text"><b>Model: </b>@car.Model</p>
                    <p class="card-text"><b>Color: </b>@car.Color</p>
                    <p class="card-text"><b>Rental Price: </b>@car.RentalRate</p>
                    <p class="card-text"><b>VehicleNo: </b>@car.VehicleNo</p>
                    <p class="card-text"><b>Availability: </b>@car.IsAvailable</p>
                    <a href="@Url.Action("Create", "RentalRequest", new { carId = car.CarID })" class="btn btn-primary">Book Now</a>
                </div>
            </div>
        </div>
    }
</div>